@media only screen and (max-width: 1535px) {

    :root {
        --large: 1.75rem;
        --medium: 1.313rem;
    
    }
}

@media only screen and (max-width: 1165px) {

    :root{
        --large: 1.5rem;
        --medium: 1.125rem;

    }
}

@media only screen and (max-width: 500px) {

    :root{
        --large: 1.2rem;
        --medium: 0.9rem;

    }
}

@media only screen and (max-width: 900px) {
    
   
   
   /* Splash */
    .splash {
        grid-template-columns: 10% 80% 10%;
    
        &-text {
            width: 80%;
        }
        
        &-logo {
            width: 60%;
            grid-row: 3 / 4;
            padding-bottom: 65px;
        }
    }
  
    /* Home Page */
    .clmax-def {
        position: absolute;
        bottom: 46vh;
        width: 80%;
        left: 10%;
    }

    /* Offset for anchor */
    .anchor {
        display: block;
        position: relative;
        top: -3rem;
        visibility: hidden;
    }

    /* Mobile nav */
    nav {
        height: 3rem;
    }

    .logo {
        letter-spacing: 0.3em;
    }

    .nav-links {
        display: none;
    }

    .mobile-nav {
        display: block;
        position: absolute;
    }

    .mobile-nav-toggle {
        background-color: $white;
        position: fixed;
        width: 3em;
        height: 3em;
        right: 0;
        top: 0;

        .hamburger {
            height: 2px;
            width: 1.5em;
            background-color: $black;
            position: relative;
            display: block;
            top: 1.5em;
            transition: transform 350ms ease-in-out, opacity 200ms linear;

    
            &::before, &::after {
                content: '';
                height: 2px;
                width: 1.5em;
                background-color: $black;
                position: absolute;
                left:0;
                transition: transform 350ms ease-in-out, opacity 200ms linear;
            }
    
            &::before {
                bottom: 8px; 
                background-color: $black;
            }
    
            &::after {
                top: 8px;
                background-color: $black;
    
            }
        }
    }

    .mobile-nav-links {
        width: 100vw;
        display: flex;
        flex-direction: column;
        background-color: $white;
        transform: translateX(-100%);
        transition: transform 500ms cubic-bezier(.5, 0, 0.5, 1);
        position: fixed;
        top: 3em;

        a {
            margin: 1em 2rem 1em 0rem;
        }
    
        a:hover, .active{
            font-family: $serif-reg-italic;
        }

        
        .mobile-link {
            background-color: $white;
            margin-bottom: 1em;
            margin-left: 2rem;
        }
    }
    

    .mobile-nav-open {
        transform: translateX(0);


    }

    .mobile-nav-open .hamburger {
        transform: rotate(45deg);
    }

    .mobile-nav-open .hamburger::before {
        transform: rotate(90deg) translate(8px);

    }

    .mobile-nav-open .hamburger::after {
        transform: rotate(90deg) translate(-8px);
        opacity: 0;

    }


    /* Mobile Page contents */
    .whole-page {
        .content {
            width: 80%;
        }
    }

    .split-page-container {
        height: auto;
        width: 100%;
        display: block;
    
        .split-page {
            height: 100%;
            width: 100%;
            display: block;
    
            .split-page-image {
                height: 100%;
                width: 100%;
                display: block;
    
                img {
                    display: block;
                    overflow: hidden;
                    object-fit: cover;
                    width: 100%;}
            }
        }
    }

    .quote {
        padding: 0;
        padding-top: 4.5rem;
        padding-bottom: 4.5rem;
        width: 100%;
        min-height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
    
        &-text {
            align-self: center;
            width: 80%;
            margin-top: 0em;
            font-family: $sans-reg;
            line-height: 1.4;
        }
    
        &-caption {
            padding: 0;
            align-self: center;
            width: 80%;
            margin: 0;
            margin-top: 1em;

        }
    }

    /* Mobile footer */
    
    /* .footer-address {
        display: none;
    }
    .footer-email p{
        display: none;
    } */
    
    
    footer {
        margin-top: calc(3rem - 139px);
        height: 139px;

        .footer-content {
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;

            .footer-text {
                .footer-address {
                    display: none;
                }
                .footer-info {
                    .footer-email {
                        display: none;
                    }
                }
            }
        }
    }
    
    
    
   
}


