@media only screen and (max-width: 1535px) {

    .quote {
        &-text {
            font-size: 1.75rem;
        }
    
        &-caption {
            font-size: 0.875rem;
        }
    }
}

@media only screen and (max-width: 1165px) {

    .quote {
        &-text {
            font-size: 1.5rem;
        }
    
        &-caption {
            font-size: 0.75rem;
        }
    }
}

@media only screen and (max-width: 1000px) {
    
    /* Home Page */
    .clmax-def {
        position: absolute;
        bottom: 50px;
        width: 80%;
        left: 10%;
        
    }

    /* Offset for anchor */
    .anchor {
        display: block;
        position: relative;
        top: -3rem;
        visibility: hidden;
    }

    /* Mobile nav */
    nav {
        height: 3rem;
    }

    .nav-links {
        display: none;
    }

    .mobile-nav {
        background-color: none;
        display: block;
        position: absolute;
    }

    .mobile-nav-toggle {
        background-color: $white;
        position: fixed;
        width: 3em;
        height: 3em;
        right: 0;
        top: 0;

        .hamburger {
            height: 2px;
            width: 2em;
            background-color: $black;
            position: relative;
            display: block;
            top: 1.5em;
            transition: transform 350ms ease-in-out, opacity 200ms linear;

    
            &::before, &::after {
                content: '';
                height: 2px;
                width: 2em;
                background-color: $black;
                position: absolute;
                left:0;
                transition: transform 350ms ease-in-out, opacity 200ms linear;
            }
    
            &::before {
                bottom: 10px; 
                background-color: $black;
            }
    
            &::after {
                top: 10px;
                background-color: $black;
    
            }
        }
    }

    

    .mobile-nav-links {
        width: 100vw;
        display: flex;
        flex-direction: column;
        background-color: $white;
        transform: translateX(-100%);
        transition: transform 500ms cubic-bezier(.5, 0, 0.5, 1);
        position: fixed;
        top: 3em;




        a {
            margin: 1em 2rem 1em 0rem;
        }
    
        a:hover, .active{
            font-family: $serif-reg-italic;
        }

        
        .mobile-link {
            background-color: $white;
            margin-bottom: 1em;
            margin-left: 2rem;
        }
    }
    

    .mobile-nav-open {
        transform: translateX(0);


    }

    .mobile-nav-open .hamburger {
        transform: rotate(45deg);
    }

    .mobile-nav-open .hamburger::before {
        transform: rotate(90deg) translate(10px);

    }

    .mobile-nav-open .hamburger::after {
        transform: rotate(90deg) translate(-10px);
        opacity: 0;

    }


    /* Mobile Page contents */
    .whole-page {
        .content {
            width: 80%;
        }
    }

    .split-page-container {
        height: auto;
        width: 100%;
        display: block;
    
        .split-page {
            height: 100%;
            width: 100%;
            display: block;
    
            .split-page-image {
                height: 50vh;
                width: 100%;
                    display: block;
    
                img {
                    display: block;
                    height: auto;
                    width: 100%;
                    opacity: 0.85;
                    overflow: hidden;

                }
            }
        }
    }

    .quote {
        padding-top: 6rem;
        padding-bottom: 6rem;
        width: 100%;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
    
        &-text {
            margin-top: 0em;
            font-family: $sans-reg;
            font-size: 1.5rem;
            line-height: 1.4;
        }
    
        &-caption {
            padding: 0;
            margin: 0;
            font-size: 0.75rem;
        }
    }

   
}