@import'reset';
@import'fonts';

$blue: #1e3c96;
$grey: #f7f4f3;
$white: #ffffff;
$black: #000000;

$sans-reg: 'Untitled Sans Regular';
$sans-reg-italic: 'Untitled Sans Regular Italic';
$serif-reg: 'Untitled Serif Regular';
$serif-reg-italic: 'Untitled Serif Regular Italic';

:root {
    --large: 2rem;
    --medium: 1.5rem;
    --small: 1rem;
    --x-small: 0.75rem;
}

/* Main Settings */
body {
    background-color: $grey;
}
// title
h1 {
    font-family: $sans-reg;
    font-size: var(--large);
    font-weight: normal;
}

h2 {
    font-size: var(--small);
    font-family: $sans-reg;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    font-weight: normal;
}

h3 {
    font-family: $serif-reg;
    font-size: var(--large);
    margin-top: calc(2 * var(--medium));
    font-weight: normal;
    line-height: 1.4;
}


p {
    font-family: $serif-reg;
    font-size: var(--medium);
    margin-top: 2em;
    line-height: 1.4;

}

a {
    text-decoration: none;
    font-family: $serif-reg;
    color: $black;
}

.title {
    margin-top: 4.5rem;
}



.quote {
    color: $white;
    padding: 3em;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-text {
        margin-top: 0em;
        font-family: $sans-reg;
        font-size: var(--large);
        line-height: 1.4;
        text-indent: -0.4em;
    }

    &-caption {
        padding: 0;
        margin: 0;
        margin-top: 1em;
        font-family: $serif-reg;
        font-size: var(--small);
    }
}

.anchor {
    display: block;
    position: relative;
    top: -3rem;
    visibility: hidden;
}

.whole-page {
    min-height: calc(100vh - 3rem);
    width: 100%;

    .content {
        height: 100%;
        width: 60%;
        margin: 0 auto 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            margin-top: 1em;
        }

        p:first-of-type {
            margin-top: 2em;
        }

        p:last-of-type {
            margin-bottom: 4.5em;
        }
    }
}

.split-page-container {
    height: calc(100vh - 3rem);
    width: 100%;
    display: flex;

    .split-page {
        height: 100%;
        width: 50%;
        display: inline-block;

        .split-page-image {
            height: 100%;
            width: 100%;
            overflow: hidden;

            img {
                height: 100%;
            }
        }
    }
}

.blue {
    background-color: $blue;
}

.grey {
    background-color: $grey;
}

.white {
    background-color: $white;
}



/* Splash Page */
.splash {
    position: fixed;
    top: 0;
    left: 0;
    background-color: $blue;
    color: $white;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 20% 60% 20%;
    align-content: center;
    justify-items: center;
    z-index: 200;

    &-text {
        width: 100%;
        text-align: center;
        text-align-last: center;
        grid-area: 2 / 2 / 3 / 3;
        font-size: var(--large);
        font-family: $sans-reg;
        margin-top: auto;
        margin-bottom: auto;
    }
    
    &-logo {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: 60%;
        grid-area: 3 / 2 / 4 / 3;
        padding-bottom: 107px;

        img{
            height: 50px;
        }
    }
}

.display-none {
    display: none;
}

/* @keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn 2s ease-in forwards;
} */

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

.fade-out {
    opacity: 1;
    animation: fadeOut 2s linear forwards;
}

/* Nav Bar */

nav {
    height: 3rem;
    width: 100%;
    background-color: $white;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    text-transform: uppercase;
    margin-left: 1.5rem;
    letter-spacing: 0.5em;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-content: center;
    line-height: 1;
    position: fixed;
    top: 0px;
    right: 0px;

    a {
        padding: 1em 1.5rem 1em 0rem;
        letter-spacing: 0.03em;
    }

    a:hover, .active{
        font-family: $serif-reg-italic;
    }

    .nav-about {
        position: absolute;
        top: 0;
        right: 233px;
    }
    .nav-service {
        position: absolute;
        top: 0;
        right: 156px;
    }
    .nav-clients {
        position: absolute;
        top: 0;
        right: 81px;
    }
    .nav-contact {
        position: absolute;
        top: 0;
        right: 0px;
    }

}

.mobile-nav {
    display: none;
}

/* Home Page */

#home {
    background-image: url('../images/home.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
}

.clmax-def {
    position: absolute;
    bottom: 50px;
    left: 33.33%;
    width: 33.33%;
    min-width: 310px;
    


    p {
        background-color: $white;
        font-size: var(--x-small);
        padding: 1.75em;
        line-height: 1.4;
        margin-top: 0;
        letter-spacing: 0.03em;
    }
}

/* Contact Page */
#contact-page {
    height: calc(100vh - 6rem);
    min-height: auto;

    .contact {
        height: 100%;
        width: 60%;
        margin: 0 auto 3rem auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        .contact-info {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 2em;
            font-size: var(--large);

            .contact-address {
                text-align: center;

                p {
                    display: inline-block;
                }
            }

            div p {
                justify-self: center;
                margin: 0;
                margin-bottom: 2em;
            }
        }
    }
}

footer {
    margin-top: calc(3rem - 205px);
    height: 205px;

    .footer-content {
        background-color: $white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-top: 3rem;
        padding-bottom: 3rem;

        .footer-logo {
            height: 100%;
            display: flex;
            justify-content: center;


            img {
                height: 50px;
            }

        
        }
            
        .footer-text {
            display: flex;
            flex-direction: column;
            font-size: var(--x-small);
            align-items: center;
            margin-top: 2em;

            p {
                font-size: var(--x-small);
                text-transform: uppercase;
                margin: 0;
                letter-spacing: 0.03em;
                display: inline-block;
                margin-right: 1em;
            }

            .footer-info {
                .footer-email, .footer-privacy {
                    display: inline-block;
                }

                .footer-privacy {
                    p:last-of-type {
                        margin-right: 0;
                    }
                }
                
            }

            
        }
    }

    
}

    



@import'media';


  
